---
platform: linux

image: docker:///java#8

params:
  MAVEN_OPTS:
  MAVEN_CONFIG:

inputs:
  - name: pcfdemo
  - name: version

outputs:
  - name: build

run:
  path: pcfdemo/ci/tasks/build.sh
  args: [
    --input-dir, pcfdemo,
    --output-dir, build,
    --version-file, version/number,
    --artifactId, pcf-demo,
    --packaging, war
  ]
